body{
	color: white;
    font-family: arial;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;


	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #E8F6EF;
	background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/26bcbe81-a3fa-43da-8b10-7b37ce15b07d/demdyla-5c43f79c-b70a-4fd7-bf23-848883140ae6.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI2YmNiZTgxLWEzZmEtNDNkYS04YjEwLTdiMzdjZTE1YjA3ZFwvZGVtZHlsYS01YzQzZjc5Yy1iNzBhLTRmZDctYmYyMy04NDg4ODMxNDBhZTYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.znQzGkeCg0xHnVXotF6eMsJwxyqIt3Xp9KrqSFgYEFs);
    background-size: auto;
	/*background-image: url('../img/giffy.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
}

.main-content{
	flex-grow: 1;
    text-align: center;
}

footer{
	text-align: center;
    color: #888888;
    border-top: 0px solid #eeeeee;
    margin-top: 0px;
    padding: 16px 0;
    background-color: rgb(2, 4, 27);
}

header{
	margin-top: 16px;
	margin-bottom: 48px;
}

h1{
	font-size: 48px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.potrait {
	width: 250px;
}

input{
   border: 1px solid #cccccc;
   padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}